<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> 
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
    <%= partial "layouts/ga" %>
    <% if language_tabs %>
      <script>
        $(function() {
          setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>);
        });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <header role="banner">
      <%= partial "layouts/navbar" %>
    </header>

    <section class=
    "block block--defaultScheme block--allViewport block--paddingTopBottom block--twoColAbsolute home-block">
        <div class="block-container">
            <div class="block-container-inner">
                <div class=
                "block--twoColAbsolute-row block--twoColAbsolute-row--split6">
                    <div class="block--twoColAbsolute-column">
                        <div class="block-text">
                            <h1><br>
                            BUILD ON BIGCOMMERCE</h1>
                            <p><span class="type-large">Create apps and themes for thousands of successful merchants on the best ecommerce platform for growing sales</span></p>
                            <p><span class="type-large"><br></span><a href="/api">LEARN ABOUT OUR API</a><span class="home-separator"> | </span><a href="/themes">VIEW THEME DOCUMENTATION</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=
    "block block--lightestGreyDefaultScheme block--allViewport block--paddingTopBottom block--twoColTextOverBg">
    <div class="block-container">
            <div class="block-container-inner">
                <div class="block--twoColTextOverBg-row block--twoColTextOverBg-row--split6">
                    <div class="block-text blocks-home"><br><br>
                        <h2>Build Gorgeous Themes</h2>
                        <p><span class="type-large">Our Stencil theme framework is a powerful new approach to creating beautiful, dynamic and high-converting storefronts.</span></p>
                        <p><span class="type-large"><a href="/themes">VIEW THEME DOCUMENTATION</a></span></p><br>
                        <img src="../images/Atelier.png"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class=
    "block block--lightestGreyDefaultScheme block--allViewport block--paddingTop block--twoColTextOverBg">
    <div class="block-container">
            <div class="block-container-inner">
                <div class="block--twoColTextOverBg-row block--twoColTextOverBg-row--split6">
                    <div class="block-text blocks-home"><br><br>
                        <h2>Build Best-of-Breed Solutions</h2>
                        <p><span class="type-large">Develop a custom integration, or build an app to sell in our app store. Our Stores API features a RESTful architecture that allows you to code in the language of your choice.</span></p>
                        <p><span class="type-large"><a href="/api">Learn More About Our API</a></span></p>
                    </div>
                </div>

                <div class="block--multiColTextImage-row block--multiColTextImage-row--columns3 block--desktopViewport">
                    <div class="block--multiColTextImage-column block--multiColTextImage-column--centerImageAlign">
                        <div class="block--multiColTextImage-column-inner">
                            <div class="block-image block-image--png">
                                    <img src="../images/ShipperHQ.png" style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                    <div class="block--multiColTextImage-column block--multiColTextImage-column--centerImageAlign">
                        <div class="block--multiColTextImage-column-inner">
                            <div class="block-image block-image--png">
                                    <img src="../images/Square.png" style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                    <div class="block--multiColTextImage-column block--multiColTextImage-column--centerImageAlign">
                        <div class="block--multiColTextImage-column-inner">
                            <div class="block-image block-image--png">
                                    <img src="../images/Xero.png" style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block--multiColTextImage-row block--multiColTextImage-row--columns3 block--desktopViewport">
                    <div class="block--multiColTextImage-column block--multiColTextImage-column--centerImageAlign">
                        <div class="block--multiColTextImage-column-inner">
                            <div class="block-image block-image--png">
                                    <img src="../images/FreshBooks.png" style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                    <div class="block--multiColTextImage-column block--multiColTextImage-column--centerImageAlign">
                        <div class="block--multiColTextImage-column-inner">
                            <div class="block-image block-image--png">
                                    <img src="../images/GoogleShopping.png" style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                    <div class="block--multiColTextImage-column block--multiColTextImage-column--centerImageAlign">
                        <div class="block--multiColTextImage-column-inner">
                            <div class="block-image block-image--png">
                                    <img src="../images/SalesForce.png" style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=
    "block block--defaultScheme block--allViewport block--paddingTopBottom block--twoColAbsolute home-block-bottom">
        <div class="block-container">
            <div class="block-container-inner">
                <div class=
                "block--twoColAbsolute-row block--twoColAbsolute-row--split7">
                    <div class="block--twoColAbsolute-column">
                        <div class="block-text">
                            <h2><br>
                            CREATE AN ACCOUNT</h2>
                            <p><span class="type-large">Sign up for a free BigCommerce user account to access your store, test your apps and reach thousands of merchants. <br><br>
                            <a class="button button--action" href=
                                "#">
                                Create An Account</a><br></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <%= partial "layouts/footerscript" %>
  </body>
</html>
